.slider{
	width: 100%;
	background-color: #CFD8DC;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 60px;
	font-family: 'Roboto Mono', monospace;
	color: #424242;
}

@media only screen and (max-width: 768px) {
	.slider{
		font-size: 30px;
	}
}
